In [1]:
import pandas as pd
import numpy as np

In [6]:
df_bf = pd.read_csv("temp/cdf-clustering/BF_ADV/KMeans/labels.csv")
del df_bf["Unnamed: 0"]
df_fc = pd.read_csv("temp/cdf-clustering/FC_ADV/KMeans/labels.csv")
del df_fc["Unnamed: 0"]

In [8]:
df_bf.columns = ['District', 'BF_ADV_Cluster']
df_fc.columns = ['District', 'FC_ADV_Cluster']

In [9]:
df = df_fc.merge(df_bf)

In [10]:
df

     District  FC_ADV_Cluster  BF_ADV_Cluster
0         203               2               1
1         204               2               1
2         205               4               4
3         206               2               1
4         207               0               3
5         208               4               3
6         209               4               1
7         210               3               3
8         211               5               6
9         212               1               4
10        213               2               2
11        214               4               3
12        215               2               1
13        216               2               1
14        217               2               1
15        218               2               1
16        219               2               1
17        220               2               1
18        221               2               1
19        222               2               3
20        223               2               3
21        224               0               1
22        225               0               2
23        226               0               3
24        227               2               1
25        228               4               6
26        229               2               1
27        230               5               0
28        231               0               3
29        232               2               1
..        ...             ...             ...
141       569               5               0
142       570               0               6
143       571               0               0
144       572               0               4
145       573               0               1
146       574               0               3
147       575               0               3
148       576               0               3
149       577               0               3
150       578               1               1
151       579               2               1
152       580               0               2
153       581               0               3
154       582               0               3
155       583               0               3
156       584               2               1
157       588               5               3
158       589               2               3
159       590               1               4
160       591               6               4
161       592               6               2
162       593               3               2
163       594               5               0
164       595               1               5
165       596               4               1
166       597               5               6
167       598               2               3
168       599               3               1
169       600               5               0
170       601               0               3

[171 rows x 3 columns]